<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="author" content="Simon Mårtensson">
    <meta name="description" content="Verktyg för pilot briefing av väder och vikt/balans">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="Briefing, flygplanering, NOTAM, Sweden, LFV, METAR, TAF, SWC, NSWC, Digital NOTAM, LHP, LLF, Tool">
    <meta name="robots" content="index, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--
        FAVICON ATTRIBUTION:
        Windsock Icon (https://iconscout.com/icon/windsock-1671449) by IconScout Store (https://iconscout.com/contributors/iconscout)
    -->
</head>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>

<div style="z-index: 999; position: fixed; bottom: 20px; right: 0px; background-color: rgba(100, 100, 100, 0.1)">
    <a>
        <i class="material-icons" onclick="alert()">settings</i>
    </a>
    <a style="vertical-align: top; line-height: 20px" href="/settings">Dina inställningar</a>
</div>

</html>
