<!DOCTYPE html>
<html lang="sv">

<head>
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="author" content="Simon Mårtensson">
    <meta name="description" content="Briefingtjänst för PPL-piloter. Få översikt över METAR, TAF, NOTAM och annan värdefull väderinformation.">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="Briefing, flygplanering, väder, weather, NOTAM, Sweden, METAR, TAF, SWC, NSWC, LHP, LLF">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link ref="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/tables.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--
        FAVICON AND APPLE TOUCH ICON ATTRIBUTION:
        Windsock Icon (https://iconscout.com/icon/windsock-1671449) by IconScout Store (https://iconscout.com/contributors/iconscout)
    -->
</head>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
