@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="tips-and-tricks"class="alert alert-info alert-dismissible fade show" role="alert">
        Saknas du vissa flygplatser? Gå till <a asp-page="/About">dina inställningar</a> för att ändra vilka du kan se!
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">Okej!</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#tips-and-tricks button");
            
            button.addEventListener("click", function (event) {
                var tipsAndTricksContainer = document.querySelector("#tips-and-tricks");
                tipsAndTricksContainer.remove();
            }, false);
        })();
    </script>
}