<div id="tips-and-tricks"class="alert alert-info alert-dismissible fade show d-print-none" role="alert">
    Saknas du vissa flygplatser? Gå till <a asp-page="/Settings">dina inställningar</a> för att ändra vilka du kan se!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script>
    (function () {
        var button = document.querySelector("#tips-and-tricks button");
            
        button.addEventListener("click", function (event) {
            var tipsAndTricksContainer = document.querySelector("#tips-and-tricks");
            tipsAndTricksContainer.remove();
        }, false);
    })();
</script>