/**********************************
    Main
**********************************/
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 100px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 80px;
    }
}

@media print {
    body {
        padding-top: 0px;
    }
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 400;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

ul, li {
    color: gray;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}



.auto-overflow-x {
    width: 100%;
    overflow-x: auto;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.gray-link {
    color: gray;
}

/* Add style to Google's material-icons class */
.material-icons {
    color: gray;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.report-image {
    border: 3px solid #555;
    height: auto;
    max-width: 90%;
    width: 800px;
}

@media print {
    .report-image {
        max-width: 95% !important;
        width: 95% !important;
    }
}



/**********************************
    Buttons
**********************************/
.cbtn {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    /*box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;*/
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    height: 34px;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.cbtn:hover {
    text-decoration: none;
    transition-duration: 0.1s;
}

.cbtn:disabled {
    cursor: default;
}

.cbtn:active {
    /*box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;*/
    transition: none 0s;
}

.cbtn:focus {
    outline: 1px transparent;
}

.cbtn:before {
    display: none;
}

.cbtn:-webkit-details-marker {
    display: none;
}

.cbtn span {
    margin-left: 10px;
    vertical-align: top;
}

.cbtn i {
    line-height: 20px !important;
}

.cbtn-primary {
    background-color: #0C84CF !important;
    color: white !important;
}

.cbtn-primary:hover {
    background-color: #0B7ABF !important;
}

.cbtn-primary:disabled {
    background-color: #0C84CF;
    border-color: rgba(27, 31, 35, 0.15);
    color: #BAC6D1;
}

.cbtn-primary:active {
    background-color: #0A6FAD;
}

.cbtn-secondary {
    background-color: #FAFBFC !important;
    color: #24292E !important;
}

.cbtn-secondary:hover {
    background-color: #F3F4F6 !important;
}

.cbtn-secondary:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
}

.cbtn-secondary:active {
    background-color: #EDEFF2;
}


/**********************************
    Tables
**********************************/
table {
    border: 2px solid darkgray;
    color: #313131;
    max-width: 100%;
    width: 100%;
}

th {
    background-color: #e3e0dc;
}

th, td {
    border: 1px solid darkgray;
    font-size: inherit;
    height: 4em;
    padding: 0.5rem;
    text-align: center;
}

td input {
    border: 1px solid darkgray;
    background: hsl(0 0% 100%);
    border-radius: .25rem;
    font-size: inherit;
    height: 100%;
    padding: 0.1rem;
    text-align: center;
    width: 100%;
}

input[type=checkbox] {
    max-width: 15px;
}

/* Disable number input spinner */
td input::-webkit-outer-spin-button,
td input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Disable number input spinner */
td input[type=number] {
    -moz-appearance: textfield;
}

@media print {
    td input {
        border: none;
        background: rgba(0, 0, 0, 0);
    }
}