@page "/about"
@{
    ViewData["Title"] = "Flygplanering.se - Om sidan";
    ViewData["Description"] = "Briefingtjänst för PPL-piloter. Få översikt över METAR, TAF, NOTAM och annan värdefull väderinformation.";
}

<div class="text-center mt-4">
    <h1>Om sidan</h1>

    <div class="mt-4">
        <p>Briefingtjänst för PPL-piloter. Få översikt över METAR, TAF, NOTAM och annan värdefull väderinformation</p>
    </div>
</div>
