@page "/about"
@{
    ViewData["Title"] = "Flygplanering.se - Om sidan";
}

<div class="text-center" style="margin-top: 20px;">
    <h2>Om</h2>

    <div style="margin-top: 20px">
        <p>Briefingtjänst för PPL-piloter. Få översikt över METAR, TAF, NOTAM och annan värdefull väderinformation</p>
    </div>
</div>
