@page "/settings"
@model SettingsModel
@{
    ViewData["Title"] = "Flygplanering.se - Inställningar";
}

<script src="~/js/settings.js" asp-append-version="true"></script>


<script>
    function save_settings()
    {
        window.location.href = '/';
    }
</script>


<div class="text-center mt-4">
    <h1>Dina inställningar</h1>

    <div class="mt-3">
        <p>Välj nedan vilka flygplatser du vill se METAR, TAF och NOTAM för.<br />Klicka på sparaknappen när du är färdig. Dina inställningar kommer sparas i webbläsaren</p>
    </div>

    <div class="auto-overflow-x">
        <table class="mt-5">
            <thead>
                <tr>
                    <th>Flygplats</th>
                    <th>METAR</th>
                    <th>TAF</th>
                    <th>NOTAM</th>
                </tr>
            </thead>
            <tbody id="table-airport-selection" />
        </table>
    </div>
    
    <div class="my-5">
        <a id="button-save-settings" class="main-button" onclick="saveSettings()">
            <i class="material-icons">lock</i>
            <span>Spara inställningar</span>
        </a>
    </div>
</div>